html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Hello!
  
        p Welcome to my app, ready to get started?
        p
          span.small Don't have an account?
          span &nbsp;
          a.small(href="https://www.investopedia.com/simulator/") Register now

        img.image(src="/images/HugeBetsTeam.png")
        form(action='/signup',method='post')
          div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for='email') email
                 input(id='email',type='text',value='',placeholder='@',name='email')
          div#passworddiv(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for='password') password
                 input(id='password',type='password',value='',placeholder='',name='password')
          div(data-role='fieldcontain')   
            input.btn.btn-primary(type='submit',value='Log In',data-transition='fade', data-theme='c')

