html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(src="troll.js" type="text/javascript")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    link(rel="stylesheet" type="text/css" href="css/style.css" )
  body
    div.container
      div.jumbotron
        h1 Hugh House
        a(style="position:absolute; left: 600px; top: 40px" href="https://www.facebook.com/YoloOnFNMA-211269462684651/" target="_blank")
          img.image-responsive( src="/images/Logo.png")
        p Click on one of the developer's faces to buy a stock!
        p
          span.small Don't have an account?
          span &nbsp;
          a.small(href="https://www.investopedia.com/simulator/" target="_blank") Register now

        img.resize-half(id="alexl" src="/images/AlexL.jpg", onclick="HUGEBUY(this.id);")
        img.resize-half(id="clarence" src="/images/ClarenceL.jpg", onclick="HUGEBUY(this.id);")
        img.resize-half(id="alext" src="/images/AlexT.jpg", onclick="HUGEBUY(this.id);")
        img.resize-half(id="felix" src="/images/FelixT.jpg", onclick="HUGEBUY(this.id);")

        h1.huge Huge Team
        a(href="https://www.facebook.com/YoloOnFNMA-211269462684651/" target="_blank")
          img.resize-full.image-responsive( src="/images/HugeBetsTeam.png")




